/* Google Fonte */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,700&display=swap');

/* CSS RESET */
* {
    padding: 0;
    margin: 0;
    vertical-align: baseline;
    list-style: none;
    border: 0;
}

body {
    background-color: #fff;
    display: flex;
    justify-content: center;
    color: #4f4f4f; /* Cor padrão das fontes */
}

body.night-mode,
body.night-mode .texto,
body.night-mode .legenda,
body.night-mode .nav-link {
    color: #EEEEEE; /* Cor dos texos no modo noturno */
}

body.night-mode {
    background-color: #313338; /* Cor do fundo no modo noturno */
}

.col-lg-4 bg-transparent {
    height: 100%;
    width: 100%;
}

.hstack {
    margin-bottom: auto;
}

.img__solveris {
    width: 100%;
}

.imagem-responsiva {
    margin-bottom: 15px;
    float: left;
    margin-right: 15px;
    margin-bottom: 60px;
}

.bg-transparent > p:first-child {
    font-size: 15px;
}

.bg-transparent > p:nth-child(2) {
    font-size: 13px;
}

.bg-transparent > p:nth-child(3) {
    font-size: 13px;
}

.nome {
    color: #5b86ae;
}

.contato {
    color: #5b86ae;
}

a:hover {
    color: #ec8e58;
    font-weight: bold;
    text-decoration: none;
}

a:active {
    color: #ec8e58;
    font-weight: bold;
    text-decoration: none;
}

.texto {
    line-height: 1.6;
    border-color: fff;
    position: relative;
    color: #4f4f4f; /* Cor padrão do texto */
}

.legenda {
    margin-top: 5px;
    line-height: 1.6;
    font-size: 14px;
    color: #4f4f4f;
    position: relative;
    text-align: left;
}

.svg-linha {
    margin-bottom: -60px;
}

.avatar {
    position: absolute;
    top: 53px;
    left: 695px;
    z-index: 1;
}

.slow-fade {
    transition-duration: 20s;
}

.larger-nav {
    width: 100%;
}

.myclass {
    width: 200px;
    height: 200px;
    margin-right: 10px;
    margin-bottom: 65px;
    justify-content: center;
    text-align: center;
}

.boxinvisivel {
    width: 70px;
}

::-webkit-scrollbar {
    display: none;
}

#night-mode-btn {
    position: fixed;
    left: 18px;
    top: 96%;
    transform: translateY(-50%);
}

.baixar-btn {
    position: fixed;
    left: 18px;
    top: 73em;
    transform: translateY(-50%);
}